<div class="col card m-3" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt="car-image">
    <div class="card-body">
        <h5 class="card-title">{{model}}</h5>
        <p class="card-text">{{year}}</p>
        <p class="card-text">{{fuel}}</p>
        <p class="card-text"><small class="text-muted">{{mileage}}</small></p>
        <a href="/details/{{id}}" class="btn btn-primary">Go somewhere</a>
    </div>
</div>